<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>RTID.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9C3DBF8A1940615A0058080F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C3DBF9A1940615A0058080F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C3DBFB71940687F0058080F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C3DBFD41940687F0058080F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
